[popolarenetworkd]

# path to working file
logfile       ="/tmp/popolarenetworkd.log"
errfile       = '/tmp/popolarenetworkd.err'
lockfile      = "/tmp/popolarenetworkd.lock"
timestampfile = "/tmp/popolarenetworkd.timestamp"
#jsonrpcfile   = "/tmp/popolarenetworkd.jsonrpc"
rootpath      = "/home/audio_condivisi/info/Radio Popolare/notiziari"
prefix        = "notiziario_"
postfix       = ".oga"
maxlen        = 30
user          = "ppatruno"
group         = "ppatruno","audio","info","dialout"

